

<h1>Drink Lab</h1>
  <nav>

        <form action="/users/login" method="POST">
	        <label for="email">Email:</label>
	        <input id="email" type="email" name="email" placeholder="enter your email..." required />

	        <label for="password">Password:</label>
	        <input id="password" type="password" name="password" placeholder="enter your password " required />

	      <button type="submit">Login!</button>
        </form>
  </nav>
      <h3>Dont have an account?<p class="text-center"><a href="/users/new">Sign up!</a>
      </p></h3>