<div class="container">
    <h1 class="text-center">Welcome. Let's Have a Drink!</h1>
    <p class="text-center">
      <a href="drink">Mix it Up</a>
    </p>
  
    <% drink.forEach(drinks => { %>
      <div 
        <h2><%= drinks.strDrink %></h2>
        <p><%= drinks.strCategory %></p>
        <img src="<%= drinks.strDrinkThumb %>" alt="Drink Picture"
        <form method="POST" action="/drink">
          <input hidden type="text" name="name" value="<%= drinks.strDrink %>">
          <button class="btn btn-primary" type="submit">Add to Favorite </button>
        </form>
      </div>
    <% }); %>
  </div>
  