<h2> Users Login Page</h2>



<form action="/users/login" method="POST">
	<label for="email">Email:</label>
	<input id="email" type="email" name="email" placeholder="enter your email..." required />

	<label for="password">Password:</label>
	<input id="password" type="password" name="password" placeholder="enter your password 📀" required />

	<button type="submit">Login!</button>
</form>

<h3>Dont have an account? Sign up!</h3>

<% if (msg) { %>
	<div>
		<p><%= msg %></p>
	</div>
<% } %> 